@model IEnumerable<SmartsheetsPIF.Models.PIFModel>

@{
    ViewData["Title"] = "PIFs";
}

<div class="row">
    <div class="col-12">
        @{
            if (TempData["Success"] != null)
            {
                <div>
                    @*<div class="alert alert-success alert-dismissible fade show spacing" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>


                    </div>*@
                    <div id="myModal" class="modal show">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <strong> THIS IS SPARTA!</strong>

                                    <iframe src="https://giphy.com/embed/l46CvNYUMmQFDSpRC" width="480" height="269" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/l46CvNYUMmQFDSpRC">via GIPHY</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2 class="header-title">Project List</h2>
        <table class="table table-striped">
            <thead class="pif-list-header">
                <tr>
                    <th>
                        LOB
                    </th>
                    <th>
                        Project
                    </th>
                    <th>
                        Team
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th>
                        End Date
                    </th>

                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.lob)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.projectName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.team)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.startDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.endDate)
                        </td>

                        <td class="action-buttons">
                            @* @Html.ActionLink("Edit", "Edit", new { id = item.pif_Id }, new { @class = "button" })*@


                            <a href="@Url.Action("Edit", "PIF",new { id = item.pif_Id } )" class="btn btn-warning">
                                <i class="bi bi-pencil-fill"></i>
                            </a>


                            <a href="@Url.Action("Details", "PIF",new { id = item.pif_Id } )" class="btn btn-primary">
                                <i class="bi bi-card-list"></i>
                            </a>

                            @* @Html.ActionLink("Details", "Details", new { id = item.pif_Id }, new { @class = "button" })*@
                            @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

